body {
  color: #a406ff;
  font-family: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: initial;
}

a {
  text-decoration: none;
  color: inherit;
}

a.button {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
}

.header-cart {
  position: relative;
  font-size: 35px;
  margin: 1vw 2vw;
  display: flex;
}

.cart-number {
  font-size: 16px;
  align-self: center;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 15%;
  left: 9%;
}

.header-cart-notification {
  animation: grow 0.5s ease-in-out;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.header-title {
  margin: 1vw;
}

.header-border {
  border-bottom: 3px solid #a406ff;
  width: 100%;
  top: 60px;
  position: fixed;
  z-index: -10;
}

.footer-contact, .footer-about {
  margin: 0 1vw 0 1vw;
}

.furnitures {
  width: 100vw;
  position: relative;
  top: 10vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 70%;
  margin: auto;
}

.article-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  border-radius: 4em 4em 0em 0;
  background-color: white;
  width: 500px;
  height: 350px;
  margin-bottom: 80px;
  border: 3px solid #a406ff;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
  overflow: hidden;
}
.article-page:hover {
  transform: scale(1.07);
}

.article-title,
.article-price {
  display: flex;
  justify-content: center;
  padding: 1vw 2vw 0 2vw;
}

.article-price {
  font-size: 25px;
}

.article-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.article-img {
  margin-top: 1vw;
  border-top: 3px solid #a406ff;
  height: auto;
  width: 100%;
  bottom: 500px;
}

.footer-border {
  border-top: 3px solid #a406ff;
  width: 100%;
  bottom: 60px;
  position: fixed;
  z-index: -10;
}

.footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 1vw;
  justify-content: space-between;
  font-size: 25px;
}

.product {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 920px) {
  .product {
    flex-direction: column;
    justify-content: space-between;
  }
}
.product .article {
  position: relative;
  height: 85%;
  max-width: 30vw;
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  margin: 1vw;
}
.product .article .product-img-container img {
  height: auto;
  position: fixed;
  width: auto;
  max-height: 80%;
  left: 0;
  bottom: 60px;
  border-radius: 0 2em 2em 0;
}
@media (max-width: 920px) {
  .product .article .product-img-container img {
    position: inherit;
  }
}
.product .article .product-title,
.product .article .product-price {
  font-size: 35px;
  text-align: center;
  margin: 1vw;
  padding-bottom: 10px;
  border-bottom: 3px solid #a406ff;
}
.product .article .product-price {
  padding-top: 10px;
  border-top: 3px solid #a406ff;
}
.product .article .product-text {
  font-size: 20px;
  margin: 1vw;
}
.product .article .varnishChoice {
  display: flex;
  justify-content: space-around;
  margin: 1vw;
  font-size: 20px;
}
.product .article .varnishChoice :checked,
.product .article .varnishChoice [type=radio]:not(:checked) {
  display: none;
}
.product .article .varnishChoice [type=radio]:not(:checked):hover + label {
  background-color: #a406ff;
  color: white;
}
.product .article .varnishChoice :checked + label {
  background-color: #a406ff;
  color: white;
}
.product .article label {
  border: 3px solid #a406ff;
  padding: 4px;
}
.product .article .btn-add {
  margin-top: 2vh;
  align-self: center;
  border: none;
  background-color: transparent;
  border: 3px solid #a406ff;
  font-weight: 500;
  color: #a406ff;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.product .article .btn-add:hover {
  background-color: #a406ff;
  color: white;
}

.body-product {
  overflow: hidden;
}

.add-to-cart-notif {
  position: sticky;
  width: 21%;
  background-color: white;
  color: #a406ff;
  position: absolute;
  bottom: 60px;
  height: 36.3vh;
  right: -3px;
  transform-origin: top right;
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
  display: flex;
  flex-direction: column;
  border: 3px solid #a406ff;
}
.add-to-cart-notif-message {
  margin: 3vh 1vw auto 1vw;
  font-size: 20px;
}
.add-to-cart-notif-message::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #a406ff;
  mix-blend-mode: hue;
}
.add-to-cart-notif-img {
  display: flex;
  position: relative;
  max-height: 100px;
  padding-top: 1vw;
  margin: auto;
  display: block;
}
.add-to-cart-notif .close {
  position: absolute;
  top: 1vw;
  left: 1vw;
  font-size: 35px;
  cursor: pointer;
}
.add-to-cart-notif .notification-choice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}
.add-to-cart-notif .checkout {
  padding: 8px;
  margin: auto;
  position: sticky;
  text-transform: uppercase;
  border: 3px solid #a406ff;
}

.slide-in {
  transform: translateX(0%);
}

.confirm-order-main {
  display: flex;
  flex-direction: column;
  width: 50vmax;
  top: 60px;
  position: relative;
  margin: auto;
}

.confirmation,
.recapitulatif {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.recapitulatif-order-numero,
.recapitulatif-order-total,
.recapitulatif-order-address {
  margin-bottom: 1vw;
}

.confirmation-order,
.recapitulatif h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #a406ff;
  margin-bottom: 3px;
}

.name {
  text-transform: capitalize;
}

.main-cart {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-around;
}

.cart {
  /* border: 2px solid blueviolet; */
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50vmax;
  position: relative;
  top: 5vh;
}
.cart-infos {
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  text-align: center;
  justify-content: space-around;
  border-bottom: 2px solid #a406ff;
}
.cart-subtitle-article {
  grid-column-start: 2;
}
.cart-section-total {
  font-size: 20px;
  padding: 8px;
  position: relative;
  margin-top: 10px;
}
.cart-section-total .cart-infos-total {
  position: absolute;
  right: 0;
  margin: auto;
  border-bottom: 2px solid #a406ff;
}
.cart-content-add {
  max-height: 37vh;
  overflow: auto;
}
.cart-content-add .cart-article {
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  height: 100px;
  width: 100%;
  align-items: baseline;
  text-align: center;
  border-bottom: 2px solid #a406ff;
  background-color: white;
}
.cart-content-add .cart-article-img {
  grid-column: 1/span 1;
  width: 100%;
  max-height: 100px;
  object-fit: cover;
}
.cart-content-add .cart-article-title,
.cart-content-add .cart-subtitle-article {
  grid-column: 2/span 1;
}
.cart-content-add .cart-article-price,
.cart-content-add .cart-subtitle-price {
  grid-column: 3/span 1;
}
.cart-content-add .cart-article-varnish,
.cart-content-add .cart-subtitle-varnish {
  grid-column: 4/span 1;
}
.cart-content-add .cart-article-total {
  grid-column: 5/span 1;
}
.cart-content-add .btn-remove {
  grid-column: 6/span 1;
}
.cart-content-add .cart-article-title,
.cart-content-add .cart-article-price,
.cart-content-add .cart-article-varnish,
.cart-content-add .cart-infos-total {
  margin: auto;
  font-size: 20px;
}
.cart-content-add .cart-article-quantity {
  height: 20px;
  width: 40px;
  margin: auto;
  background: transparent;
  border: 2px solid #a406ff;
  color: #a406ff;
}
.cart-content-add .cart-article-quantity:active, .cart-content-add .cart-article-quantity:focus {
  outline: none;
  background: #a406ff;
  color: white;
}
.cart-content-add .btn-remove {
  height: 30px;
  width: 30px;
  margin: auto;
  color: #a406ff;
  outline: none;
  background: transparent;
  border: 2px solid #a406ff;
}
.cart-content-add .btn-remove:hover, .cart-content-add .btn-remove:active {
  outline: none;
  background: #a406ff;
  color: white;
}
.cart-section-total {
  display: flex;
  justify-content: space-between;
}

button:active {
  outline: none;
  background: transparent;
  border: 1px solid grey;
}

.paiement {
  flex-direction: column;
  align-self: center;
  width: 50vmax;
  background-color: white;
  /* margin: 60px; */
}
.paiement-title {
  border-bottom: 2px solid #a406ff;
}
.paiement form {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.paiement form .form-infos,
.paiement form .form-address {
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  width: 40%;
}
.paiement form .form-infos label,
.paiement form .form-address label {
  margin: 8px 0 4px 0;
  text-transform: capitalize;
}
.paiement form .form-infos input,
.paiement form .form-infos input:focus,
.paiement form .form-address input,
.paiement form .form-address input:focus {
  background: transparent;
  border: 2px solid #a406ff;
  padding: 8px;
}
.paiement form .form-infos input:active, .paiement form .form-infos input:focus,
.paiement form .form-infos input:focus:active,
.paiement form .form-infos input:focus:focus,
.paiement form .form-address input:active,
.paiement form .form-address input:focus,
.paiement form .form-address input:focus:active,
.paiement form .form-address input:focus:focus {
  outline: none;
  background: #a406ff;
  color: white;
}
.paiement form #invalideMessage {
  position: absolute;
  bottom: -120px;
  width: 200px;
}
.paiement #submit {
  display: flex;
  justify-self: center;
  border: none;
  color: #a406ff;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #a406ff;
  padding: 8px;
  margin: 1vw auto;
  text-transform: uppercase;
}
.paiement #submit:hover {
  background-color: #a406ff;
  color: white;
}

/*# sourceMappingURL=main.css.map */
