/* Error: expected ";".
 *     ,
 * 231 |             z-index: 10 @include small-screen {
 *     |                         ^
 *     '
 *   scss/_pages/_page-cart.scss 231:16  @import
 *   scss/main.scss 8:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 231 \2502              z-index: 10 @include small-screen {\a     \2502                          ^\a     \2575 \a   scss/_pages/_page-cart.scss 231:16  @import\a   scss/main.scss 8:9                  root stylesheet';
}
