body {
	color: blueviolet;
	font-family: Helvetica, sans-serif;
}

a.button {
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	position: fixed;
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: initial;
}

a {
	text-decoration: none;
	color: inherit;
}

.header-cart {
	position: relative;
	font-size: 35px;
	margin: 1vw;
	display: flex;
}

.cart-number {
	font-size: 20px;
	align-self: center;
}

/* il faut regarder le compte avec la quantity */
.header-cart-notification {
	color: rgb(168, 205, 230);
}

.header-title {
	margin: 1vw;
}

.header-border {
	border-bottom: 3px solid blueviolet;
	width: 100%;
	top: 60px;
	position: fixed;
	z-index: -10;
}
