body {
	color: $main-color;
	font-family: Helvetica, sans-serif;

	//scrollbar
	::-webkit-scrollbar {
		width: 10px;
		border-left: 2px solid $main-color;
		border-right: 2px solid $main-color;
		border-bottom: 2px solid $main-color;
		background-color: white;
	}
	::-webkit-scrollbar-thumb {
		width: 5px;
		height: 10px;
		background-color: $main-color;
	}
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: initial;
}

a {
	text-decoration: none;
	color: inherit;
}

a.button {
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	position: fixed;
	@include small-screen {
		background-color: white;
		width: 100vw;

		height: 47px;
		z-index: 10;
	}
}
.header-cart {
	position: relative;
	font-size: 35px;

	margin: $margin-item 2vmax;
	display: flex;
	@include small-screen {
		margin: 5px 2vmax;
	}
}

.cart-number {
	font-size: 15px;
	align-self: center;
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 14%;
	left: 9%;
}

.header-cart-notification {
	animation: grow 0.5s ease-in-out;
	// animation-iteration-count: 2;
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.header-title {
	margin: $margin-item;
	font-size: $font-title;
}

.header-border {
	border-bottom: 3px solid $main-color;
	width: 100%;
	top: $white-margin-top;
	position: fixed;
	z-index: -10;
	@include small-screen {
		z-index: 10;
		top: 46px;
	}
}

.footer-border {
	border-top: 3px solid $main-color;
	width: 100%;
	bottom: $white-margin-top;
	position: fixed;
	z-index: -10;
	@include small-screen {
		z-index: 10;
		bottom: 41px;
	}
}

.footer {
	display: flex;
	width: 100%;
	position: fixed;
	align-items: center;
	bottom: 5px;
	justify-content: space-between;
	font-size: 25px;

	@include small-screen {
		background-color: white;
		z-index: 10;
		bottom: 0;
		height: 41px;
	}

	&-contact,
	&-about {
		margin: 0 $margin-item 0 $margin-item;
		font-size: $font-title;

		@include small-screen {
			bottom: 5px;
		}
	}
}
