body {
	color: $main-color;
	font-family: Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: initial;
}

a {
	text-decoration: none;
	color: inherit;
}

a.button {
	text-decoration: none;
	&:hover {
		background-color: $main-color;
		color: white;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	position: fixed;
}
.header-cart {
	position: relative;
	font-size: $font-title;
	margin: $margin-item 2vw;
	display: flex;
}

.cart-number {
	font-size: $font-courant;
	align-self: center;
	color: white;
	position: absolute;
	top: 15%;
	left: 39%;
}

.header-cart-notification {
	animation: grow 0.5s ease-in-out;
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

.header-title {
	margin: $margin-item;
}

.header-border {
	border-bottom: 3px solid $main-color;
	width: 100%;
	top: $white-margin-top;
	position: fixed;
	z-index: -10;
}

.footer {
	&-contact,
	&-about {
		margin: 0 $margin-item 0 $margin-item;
	}
}

$medium: 920px;
$small: 650px;

@mixin medium-screen {
	@media (max-width: $medium) {
		@content;
	}
}

@mixin small-screen {
	@media (max-width: $small) {
		@content;
	}
}
