$main-color: #a406ff;
// $second-color: rgb(125, 196, 243);
$second-color: rgb(154, 255, 193);

$font-title: 35px;
$font-subtitle: min(2.5vmax, 18px);
$font-courant: min(1.8vmax, 15px);

$white-margin-top: max(6vmin, 60px);
$margin-item: max(1vmax, 15px);

$main-width-cart: 50vmax;
$main-width-index: 70vw;
