$main-color: #a406ff;
// $second-color: rgb(125, 196, 243);
$second-color: rgb(154, 255, 193);

$font-title: 35px;
$font-subtitle: 20px;
$font-courant: 16px;

$white-margin-top: 60px;
$margin-item: 1vw;

$main-width-cart: 50vmax;
$main-width-index: 70%;
