.body-product {
	overflow-x: hidden;
	scroll-behavior: inherit;

	@include medium-screen {
		position: fixed;
	}
}

.product {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	@include medium-screen {
		flex-direction: column;
		justify-content: space-between;
	}

	.article {
		position: relative;

		height: 85%;
		max-width: 30vw;
		@include medium-screen {
			max-width: 60vmax;
			margin: 0 auto 0 auto;
		}
		position: relative;
		top: $white-margin-top;
		display: flex;
		flex-direction: column;
		margin: $margin-item;

		.product-img-container img {
			position: fixed;
			width: auto;
			height: 45vw;
			left: 0;
			top: 63px; //$white-margin-top + 3px border
			bottom: $white-margin-top;
			border-radius: 0 2em 2em 0;

			@include medium-screen {
				position: inherit;
				border-radius: 2em;
				height: auto;
				width: 100%;
			}
			@include small-screen {
				width: 95vw;
				border-radius: 0 2em 2em 0;
			}
		}

		.product-title,
		.product-price {
			font-size: $font-title;
			text-align: center;
			margin: $margin-item;
			padding-bottom: 10px;
			border-bottom: 3px solid $main-color;
			@include small-screen {
				margin: 0;
			}
		}

		.product-price {
			padding-top: 10px;

			border-top: 3px solid $main-color;
		}

		.product-text {
			font-size: $font-subtitle;
			margin: $margin-item;
		}
		.varnishChoice {
			display: flex;
			justify-content: space-around;
			margin: $margin-item;

			font-size: $font-subtitle;

			:checked,
			[type='radio']:not(:checked) {
				display: none;
			}
			[type='radio']:not(:checked) {
				&:hover + label {
					background-color: $main-color;
					color: white;
				}
			}

			:checked + label {
				background-color: $main-color;
				color: white;
			}
		}

		label {
			border: 3px solid $main-color;
			padding: 4px;
		}

		.btn-add {
			margin-top: 2vh;
			align-self: center;
			border: none;
			background-color: transparent;
			border: 3px solid $main-color;
			font-weight: 500;
			color: $main-color;
			font-family: Helvetica, sans-serif;
			font-size: $font-subtitle;
			padding: 10px;
			cursor: pointer;
			text-transform: uppercase;
			&:hover {
				background-color: $main-color;
				color: white;
			}
		}
	}
}

//notification
.add-to-cart-notif {
	overflow: hidden;

	width: max(21vw, 280px); //Mobile
	background-color: white;
	color: $main-color;
	position: absolute;
	bottom: $white-margin-top;
	height: 36.3vh;
	bottom: $white-margin-top;
	right: -3px;
	transform-origin: top right;
	transform: translateX(100%);
	transition: transform 0.4s ease-in;
	display: flex;
	flex-direction: column;
	border: 3px solid $main-color;

	@include medium-screen {
		width: 55%;
	}
	@include small-screen {
		width: auto;
		height: 40vh;
	}

	&-message {
		margin: 3vh $margin-item 1vh $margin-item;
		font-size: $font-subtitle;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $main-color;
			mix-blend-mode: hue;
		}
	}

	&-img {
		display: flex;
		position: relative;
		height: (max(7vmax, 100px));
		padding-top: $margin-item;
		margin: auto; // margin: auto;
		display: block;
	}

	.close {
		position: absolute;
		top: $margin-item;
		left: $margin-item;
		font-size: $font-title;
		cursor: pointer;
	}
	.notification-choice {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4vh;
	}
	.checkout {
		padding: 8px;
		margin: auto;
		position: sticky;

		text-transform: uppercase;
		border: 3px solid $main-color;
	}
}

.slide-in {
	transform: translateX(0%);
}
