.furnitures {
	width: 100vw;
	position: relative;
	top: 10vh;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: $main-width-index;
	margin: auto;
}

.article-page {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	border-radius: 4em 4em 0em 0;
	// background-color: $second-color;
	background-color: white;

	width: 500px;
	height: 350px;
	margin-bottom: 80px;
	border: 3px solid $main-color;
	// border-radius: 2em;
	transition: transform 0.2s ease-in-out;
	object-fit: cover;
	overflow: hidden;

	&:hover {
		transform: scale(1.07);
	}
}
.article-title,
.article-price {
	display: flex;
	justify-content: center;
	padding: $margin-item 2vw 0 2vw;
}

.article-price {
	font-size: 25px;
}
.article-img-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.article-img {
	margin-top: $margin-item;
	border-top: 3px solid $main-color;
	height: auto;
	width: 100%;
	bottom: 500px;
}

.footer-border {
	border-top: 3px solid $main-color;
	width: 100%;
	bottom: 60px;
	position: fixed;
	z-index: -10;
}
.footer {
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 1vw;
	justify-content: space-between;
	font-size: 25px;
}
