.main-cart {
	display: flex;
	flex-direction: column;
	height: 95vh; //(- footer)
	justify-content: space-around;
}
.cart {
	/* border: 2px solid blueviolet; */
	display: flex;
	flex-direction: column;
	align-self: center;
	width: $main-width-cart;

	// margin-top: 10vh;
	position: relative;
	top: 5vh;

	&-infos {
		display: grid;
		grid-template-columns: repeat(6, 16.6%);
		text-align: center;
		justify-content: space-around;
		border-bottom: 2px solid $main-color;
	}

	//contenu dynamique
	&-content-add {
		max-height: 40vh;
		overflow: auto;
		.cart-article {
			display: grid;
			grid-template-columns: repeat(6, 16.6%);
			height: 100px;
			width: 100%;
			align-items: baseline;
			text-align: center;
			border-bottom: 2px solid $main-color;
			background-color: white;
		}
		.cart-article-img {
			grid-column: 1 / span 1;
			width: 100%;
			max-height: 100px; //vw
			object-fit: cover;
		}

		.cart-article-title,
		.cart-subtitle-article {
			grid-column: 2 / span 1;
		}
		.cart-article-price,
		.cart-subtitle-price {
			grid-column: 3 / span 1;
		}
		.cart-article-varnish,
		.cart-subtitle-varnish {
			grid-column: 4 / span 1;
		}
		.cart-article-total {
			grid-column: 5 / span 1;
		}
		.btn-remove {
			grid-column: 6 / span 1;
		}

		.cart-article-title,
		.cart-article-price,
		.cart-article-varnish,
		.cart-infos-total {
			margin: auto;
			font-size: 20px;
		}

		.cart-article-quantity {
			height: 20px;
			width: 40px;
			margin: auto;
		}
		.btn-remove {
			height: 30px;
			width: 30px;
			margin: auto;
		}
	}

	&-section-total {
		display: flex;
		justify-content: space-between;
	}
}

//formulaire

.paiement {
	flex-direction: column;
	align-self: center;
	width: $main-width-cart;
	background-color: white;

	&-title {
		border-bottom: 2px solid $main-color;
	}

	form {
		display: flex;
		justify-content: space-around;

		.form-infos,
		.form-address {
			display: flex;
			border: none;
			flex-direction: column;
			justify-content: space-around;
			margin: 20px;
			width: 40%;
		}
	}
	#submit {
		display: flex;
		justify-self: center;
		border: none;
		color: $main-color;
		cursor: pointer;
		// font-family: Helvetica, sans-serif;
		font-size: $font-subtitle;
		background-color: transparent;
		border: 2px solid $main-color;
		padding: 2px;
		margin: auto;
	}
	/* margin: 60px; */
}
