.confirm-order-main {
	display: flex;
	flex-direction: column;
	width: $main-width-cart;
	top: 120px;
	position: relative;
	margin: auto;
}
.confirmation,
.recapitulatif {
	margin-bottom: $margin-item;

	display: flex;
	flex-direction: column;
}

.recapitulatif-order-numero,
.recapitulatif-order-total,
.recapitulatif-order-address {
	margin-bottom: $margin-item;
}

.confirmation-order,
.recapitulatif h2 {
	text-transform: uppercase;
	border-bottom: 2px solid $main-color;
	margin-bottom: 3px;
}

.name {
	text-transform: capitalize;
}
