.main-cart {
	display: flex;
	flex-direction: column;
	height: 95vh; //(- footer)
	justify-content: space-around;
}
.cart {
	/* border: 2px solid blueviolet; */
	display: flex;
	flex-direction: column;
	align-self: center;
	width: $main-width-cart;
	@include small-screen {
		width: 90vw;
	}
	// margin-top: 10vh;
	position: relative;
	top: 5vh;

	&-infos {
		display: grid;
		grid-template-columns: repeat(6, 16.6%);
		text-align: center;
		justify-content: space-around;
		border-bottom: 2px solid $main-color;

		h2 {
			@include small-screen {
				font-size: $font-courant;
			}
		}
	}

	&-subtitle-article {
		grid-column-start: 2;
	}

	&-section-total {
		font-size: $font-subtitle;
		@include small-screen {
			font-size: $font-courant;
		}
		padding: 8px;
		position: relative;

		margin-top: 10px;
		.cart-infos-total {
			position: absolute;
			right: 0;
			margin: auto;
			border-bottom: 2px solid $main-color;
		}
	}
	//contenu dynamique
	&-content-add {
		max-height: 37vh;
		overflow: auto;

		.cart-article {
			display: grid;
			grid-template-columns: repeat(6, 16.6%);
			height: 100%;
			width: 100%;
			align-items: baseline;
			text-align: center;
			border-bottom: 2px solid $main-color;
			background-color: white;
		}
		.cart-article-img {
			grid-column: 1 / span 1;
			width: 100%;
			object-fit: cover;
		}

		.cart-article-title,
		.cart-subtitle-article {
			grid-column: 2 / span 1;
		}
		.cart-article-price,
		.cart-subtitle-price {
			grid-column: 3 / span 1;
		}
		.cart-article-varnish,
		.cart-subtitle-varnish {
			grid-column: 4 / span 1;
		}
		.cart-article-total {
			grid-column: 5 / span 1;
		}
		.btn-remove {
			grid-column: 6 / span 1;
		}

		.cart-article-title,
		.cart-article-price,
		.cart-article-varnish,
		.cart-infos-total {
			margin: auto;
			font-size: 20px;
			@include small-screen {
				font-size: $font-courant;
			}
		}

		.cart-article-quantity {
			height: 20px;
			width: 40px;
			margin: auto;
			background: transparent;
			border: 2px solid $main-color;
			color: $main-color;

			&:active,
			&:focus {
				outline: none;
				background: $main-color;
				color: white;
			}
		}

		.btn-remove {
			height: 30px;
			width: 30px;
			margin: auto;
			color: $main-color;
			outline: none;
			background: transparent;
			border: 2px solid $main-color;

			&:hover,
			&:active {
				outline: none;
				background: $main-color;
				color: white;
			}
		}
	}

	&-section-total {
		display: flex;
		justify-content: space-between;
	}
}

// button, button:focus{
// 	outline: none;
// 	background: transparent;
// 	border: 1px solid transparent;
//   }

button:active {
	outline: none;
	background: transparent;
	border: 1px solid grey;
}
//formulaire

.paiement {
	flex-direction: column;
	align-self: center;
	width: $main-width-cart;
	background-color: white;
	@include small-screen {
		width: 90vw;
		max-height: 40vh;
	}

	&-title {
		border-bottom: 2px solid $main-color;
	}

	form {
		display: flex;
		justify-content: space-around;
		position: relative;
		background-color: white;

		@include small-screen {
			flex-direction: column;
			align-items: center;
		}
		.form-infos,
		.form-address {
			display: flex;
			border: none;
			flex-direction: column;
			justify-content: space-around;
			margin: 20px;
			width: 40%;

			label {
				margin: 8px 0 4px 0;
				text-transform: capitalize;
			}
			input,
			input:focus {
				background: transparent;
				border: 2px solid $main-color;
				padding: 8px;

				&:active,
				&:focus {
					outline: none;
					background: $main-color;
					color: white;
				}
			}
		}

		#invalideMessage {
			position: absolute;
			bottom: -120px;
			width: 200px;
		}
	}
	#submit {
		display: flex;
		justify-self: center;
		border: none;
		color: $main-color;
		cursor: pointer;
		// font-family: Helvetica, sans-serif;
		font-size: $font-subtitle;
		@include small-screen {
			font-size: $font-courant;
		}
		background-color: transparent;
		border: 2px solid $main-color;
		padding: 8px;
		margin: $margin-item auto;
		text-transform: uppercase;
		&:hover {
			background-color: $main-color;
			color: white;
		}
	}
	.invalide-message-input {
		background-color: $main-color;
		color: white;
		width: 30%;
		padding-left: 10px;
	}
}
